h1 {
  color: whitesmoke;
  font-size: 60px;
  font-weight: bold;
  filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.5));
  text-align: center;
  padding-bottom: 0px;
}

h2 {
  color: whitesmoke;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.5));
}

div {
  width: 100%;
}

section {
  height: 100vh;
  width: 100%;
  background-image: url("./../../../assets/img/hero_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
}
