<section id="menu">
  <h2>OUR MENU</h2>

  <div class="element firstMenu">
    <img src="./assets/img/R1.png" alt="" />

    <div>
      <h3>Tonkatsu Ramen</h3>
      <table>
        <tr>
          <td>Chicken</td>
          <td>11.95€</td>
        </tr>

        <tr>
          <td>Beef</td>
          <td>12.95€</td>
        </tr>

        <tr>
          <td>Shrimp</td>
          <td>13.95€</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="element secondMenu">
    <img src="./assets/img/R2.png" alt="" />

    <div>
      <h3>Spicy Miso Ramen</h3>
      <table>
        <tr>
          <td>Chicken</td>
          <td>11.95€</td>
        </tr>

        <tr>
          <td>Beef</td>
          <td>12.95€</td>
        </tr>

        <tr>
          <td>Shrimp</td>
          <td>13.95€</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="element thirdMenu">
    <img src="./assets/img/R3.png" alt="" />

    <div>
      <h3>Shio Ramen</h3>
      <table>
        <tr>
          <td>Chicken</td>
          <td>11.95€</td>
        </tr>

        <tr>
          <td>Beef</td>
          <td>12.95€</td>
        </tr>

        <tr>
          <td>Shrimp</td>
          <td>13.95€</td>
        </tr>
      </table>
    </div>
  </div>
</section>
