<section>
  <h2>HOW TO ORDER</h2>

  <div class="bowl">
    <div class="order">
      <img src="./../../../assets/img/noodle.png" alt="" />
      <img src="./../../../assets/img/broth.png" alt="" />
      <img src="./../../../assets/img/egg.png" alt="" />
    </div>
    <div class="description">
      <p>
        Pick your <br />
        noodle
      </p>
      <p>
        Pick your <br />
        broth
      </p>
      <p>
        Add your <br />
        toppings
      </p>
    </div>
  </div>
</section>
